.cartContainer{
    padding: 50px;
    display: flex;
}

.cartImageContainer{
    width: 100px;
    height: 100px;
    position: relative;
    margin-left: 5%;
}

.cartLeft{
    flex:2;
}

.cartRight{
    flex:1;
}

.cartTable{
    width: 85%;
    border-spacing: 30px;
}

.cartName{
    font-weight: 500;
    color: tomato;
    font-size: 18px;

}

.cartTotal{
    font-weight: 500;
    font-size: 18px;
}

.cartWrapper{
    width: 90%;
    max-height: 300px;
    background-color: #333;
    padding: 50px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;

}
.cartTotalTextTitle{
    margin-right: 10px;

}

.cartButton{
    height: 30px;
    color:tomato;
    font-weight: bold;
    cursor: pointer;
    border: none;
    background-color: peachpuff;
    border-radius: 2%;
    margin-top: 20px;

}

.cartButton:hover{
    color: lightgoldenrodyellow;
}

@media screen and (max-width:480px) {
    .cartContainer{
        flex-direction: column;
        padding: 30px;
        align-items: center;
    }

    .cartTable{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .cartTrTitle{
        display: none;
    }

    .cartTr{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }

    .cartName, .cartTotal{
        font-size: 20px;
    }
    .cartImageContainer{
        width: 35vw;
        height: 35vw;
    }

    .cartPrice::before{
        content: "Price: ";
        font-weight: bold;
    }
    
    .cartQuantity::before{
        content: "Quantity: ";
        font-weight: bold;
    }
    .cartTotal::before{
        content: "Total: ";
        font-weight: bold;
    }
    .cartWrapper{
        width: 100%;
    }

}