.footerContainer{
    height: calc(100vh - 100px);
    background-color: #222;
    display: flex;
}

.footerItem{
    flex: 1;
    position: relative;
    display: flex;
}

.footerItem:last-child{
    flex:1.5;
    padding: 50px;
    justify-content: space-between;
}

.footerCard{
    flex:1;
    padding: 0 20px;
}

.footerTitle{
    font-size: 18px;
    color: peru;
}

.footerText{
    color: lightgrey;
}
.footerMotto{
    color:goldenrod;
}

@media screen and (max-width:480px) {
    .footerItem:first-child{
        display: none;
    }

    .footerItem:nth-child(2){
        flex-direction: column;
    }

    .footerContainer{
        height: auto;
        text-align: center;
    }

    .footerTitle{
        font-size: 30px;
    }
    .footerText{
        font-size: 20px;
    }
}

